<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog_emi" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>EMI</label>
            <tab>catalog</tab>
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="catalog_emi_fields" translate="label" type="text" sortOrder="50" showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="emi_options" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>EMI Plans</label>
                    <frontend_model>Sanoop\Assignment6\Block\Adminhtml\Form\Field\EmiPlans</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
