<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="Unit1_LogPathInfo_Log" instance="Unit1\LogPathInfo\Observer\Log" />
    </event>
</config>